{:deps
 {io.github.nextjournal/clerk {:git/url "edd0c2fc22bd0207cc8d3762f00f239ce63ee87f" #_#_ :local/root "../clerk"}
  org.clojure/clojure {:mvn/version "1.11.1"}
  applied-science/js-interop {:mvn/version "0.3.3"}
  org.clojure/clojurescript {:mvn/version "1.11.60"}}
 :aliases
 {:dev {:extra-paths ["notebooks"]}}}
